:root {
  --c-white: #fff;
  --c-black: #111;
  --c-lavender: #f3f7fc;
  --c-violet-blue: #3e59b9;
  --c-very-light-grey: #dad9ed;
  --c-light-grey: #b2b2b2;
  --c-dark-grey: #878787;
  --c-bright-grey: #5c616e;
  --c-dark-blue: #100d3e;
}